# Google API Key
sb.json
*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/
pip-selfcheck.json

# IDE/Editor specific
.idea/
.vscode/

# Excel files
*.xlsx